@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --neutral-alpha-medium: rgba(0, 0, 0, 0.5);
    }

    .dark {
        --background: #1c1c22;
    }

    body {
        @apply font-primary;
        background-color: var(--background);
    }
}
